ENVIRONMENT=dev

#SERVER
WEB_PORT=6789
DOMAIN=localhost
SERVER_ADDRESS=http://localhost:6789

#APPLICATION
APP_NAME="Musik, Bruder!"
APP_VERSION=0.0.0
MAINTENANCE=0
SEO_ACTIVATED=0
SEO_DESCRIPTION=
SEO_KEYWORDS=

#PATHS
LOG_PATH=/data/storage/logs

#mysql
MYSQL_ALLOW_EMPTY_PASSWORD=yes
MYSQL_MAX_CONNECTIONS=1000
MYSQL_SQL_MODE=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
MYSQL_AUTOCOMMIT=1
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=musikbruder
MYSQL_PORT=3306
MYSQL_HOST=mysql
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_CHARSET=utf8mb4
MYSQL_HOST_CLI=

#redis
REDIS_PASSWORD=
REDIS_PORT=

#phpmyadmin
PMA_PORT=6727
PMA_UPLOAD_LIMIT=2G
