/.git
/.env
/vendor
/node_modules
/bin
/deploy.sh
/setup-remove.sh
/public/data
/config/keys/*
/*-lock.*
/*.lock
/package.json
/.vscode
/Dockerfile
/compose.yml
/compose.deploy.yml
/docker/dev
/xbundler.*
/storage
/sql/last_migration
!**/*/.empty
