/vendor
/node_modules
/.env
/bin
/.git
/deploy.sh
/setup-remove.sh
/public/data
/config/keys/*
/*-lock.*
/*.lock
/package.json
/.vscode
/compose.yml
/compose.deploy.yml
/Dockerfile
/docker/dev
/xbundler.*
/storage
/sql/last_migration
!**/*/.empty
