$mbutton-smoler-size: 2.2em;
$mbutton-smol-size: 24px;
$mbutton-std-size: 40px;
$mbutton-std-plus-size: 48px;
$mbutton-mid-size: 56px;
$mbutton-wide-size: 74px;

$main-distance: 8px;

$collapsed-max-width: 1400px;
$hide-sidebar-max-width: 1176px;

$player-height: 80px;
$bruder-height: 70px;
$sidebar-width: 350px;
$content-width: calc(100% - (2 * 350px + 2 * $main-distance));
$hide-sidebar-sidebar-width: 100px;
$hide-sidebar-content-width: calc(
  100vw - 2 * $hide-sidebar-sidebar-width - 2 * $main-distance
);
$bruder-distance: calc(2 * 20px + $bruder-height);

$cover-from-border-padding: 2px;
