$mbutton-smoler-size: 2.2em;
$mbutton-smol-size: 24px;
$mbutton-std-size: 40px;
$mbutton-std-plus-size: 48px;
$mbutton-mid-size: 56px;
$mbutton-wide-size: 74px;

$content-width: 760px;

$sidebar-width: 248px;

$player-height: 78px;

$bruder-height: 70px;
$bruder-distance: calc(2 * 20px + $bruder-height);

$main-distance: 8px;

$cover-from-border-padding: 2px;
