$light: #fef8f3;
$dark: #4c4347;
$primary: #ec1b60;
$song: $primary;
$primary2: #d11151;
$primary-text: #ffecf3;
$secondary: #3ff0be;
$secondary-text: #012319;
$tertiary: #fff158;
$tertiary-text: rgb(72, 65, 10);
$quadro: #de54fc;
$album: $quadro;
$quadro-text: #320a3b;

$light-red: rgb(255, 173, 173);
$red: rgb(235, 50, 50);
$light-green: #f1fff4;
$green: #40f65e;
$yellow: #fbed59;
$orange: rgb(255, 178, 35);

$box: #ecfff8;
$box2: #ecfff8;
$box3: #ecfff8;

$active: white;
$active-hover: #eae1e1;
$active-text: #01070c;

$hover-dark: rgba(0, 0, 0, 0.42);
$slight-dark: rgba(0, 0, 0, 0.12);
$slighter-dark: rgba(0, 0, 0, 0.08);
$slighterer-dark: rgba(0, 0, 0, 0.04);
$slightest-dark: rgba(0, 0, 0, 0.02);
$hover-light: rgba(255, 255, 255, 0.42);
$slight-light: rgba(255, 255, 255, 0.12);
$slighter-light: rgba(255, 255, 255, 0.08);
$slighterer-light: rgba(255, 255, 255, 0.04);
$slightest-light: rgba(255, 255, 255, 0.02);

$hover-green: rgba(65, 240, 94, 0.42);
$slight-green: rgba(65, 240, 94, 0.18);
$hover-red: rgba(243, 42, 42, 0.42);
$slight-red: rgba(243, 42, 42, 0.18);

// $hover: rgba(0, 0, 0, 0.24);
// $slight-hover: rgba(0, 0, 0, 0.08);
// $slighter-hover: rgba(0, 0, 0, 0.04);
// $slightest-hover: rgba(0, 0, 0, 0.02);
// $hover-invert: rgba(255, 255, 255, 0.42);
// $slight-hover-invert: rgba(255, 255, 255, 0.08);
// $slighter-hover-invert: rgba(255, 255, 255, 0.04);
// $slightest-hover-invert: rgba(255, 255, 255, 0.02);

$bg: #000000;
$text: #fef8f3;
