@use "../abstract" as *;
@use "../framework/var.utils" as *;

body {
  color: $text;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  &[theme="dark"] {
    background-blur {
      background: rgba(0, 0, 0, 0.72);
    }
  }

  &[theme="light"] {
    background-blur {
      background: rgba(255, 255, 255, 0.08);
      // background: rgba(0, 0, 0, 0.08);
    }
  }
}

background-blur {
  z-index: -10;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(64px);
}

syncing-overlay {
  z-index: 10000;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: $slight-dark;
  backdrop-filter: blur(64px);
  visibility: hidden;
  opacity: 0;

  &[active] {
    visibility: visible;
    opacity: 1;
  }

  &[changing] {
    p {
      opacity: 0;
    }
  }
}

ajax-response {
  content: "";
  display: block;
  position: fixed;
  top: 100%;
  left: 0;
  height: 0%;
  width: 100%;
  z-index: $endless-z-index;

  &[success] {
    background: rgba(37, 241, 71, 0.24);
  }

  &[error] {
    background: rgba(237, 29, 92, 0.24);
  }

  &[success],
  &[error] {
    backdrop-filter: blur(4px);
  }

  &[active] {
    animation: ajax-response 0.8s $cubic forwards;

    @keyframes ajax-response {
      from {
        height: 0%;
        top: 100%;
        opacity: 1;
      }

      50% {
        height: 100%;
        top: 0;
      }

      to {
        height: 0%;
        top: 0;
        // opacity: 0;
      }
    }
  }
}

[disable-user-selection] {
  user-select: none;
}

dot-divider {
  display: block;
  border-radius: 24px;
  margin-inline: 2px;
  background: rgba(255, 255, 255, 0.12);
  border-top: 1px solid rgba(255, 255, 255, 0.24);
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  height: 6px;
  width: 6px;
}

top-banner {
  @extend .window;

  display: block;
  border-radius: 30px;
  padding: $cover-from-border-padding;
  position: fixed;
  top: $bruder-distance;
  z-index: 10;
  width: $content-width;
  transition: $trans-cubic;

  @media screen and (max-width: $hide-sidebar-max-width) {
    width: $hide-sidebar-content-width;
  }

  &[scrolled="true"] {
    border-radius: 34px;
  }
}

main {
  // max-width: calc($content-width + 2 * $main-distance);
  width: $content-width;
  margin: 0 auto;
  // padding-inline: $main-distance;
  padding-top: $bruder-distance;
  padding-bottom: 4 * $main-distance;

  @media screen and (max-width: $hide-sidebar-max-width) {
    width: $hide-sidebar-content-width;
  }
}

[outlined] {
  box-shadow: none;
  border: 1px solid $light;

  &:hover {
    box-shadow: none;
  }
}

[window] {
  @extend .window;
}
