@use "../framework/var.utils" as *;
@use "../framework/var.sizes" as *;
@use "../abstract" as *;

bruder {
  @extend .window-light;

  content: "";
  display: block;
  transition: $trans-cubic;
  min-height: $mbutton-mid-size;
  width: $mbutton-mid-size;
  z-index: 99;
  border-radius: 64px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  & > mi {
    font-size: $font-size-std-plus;
  }

  &:not([active]):hover {
    scale: 1.06;
    background: $slight-light;
  }

  &[scrolled="true"] {
    // top: -$bruder-height - 48px;
    scale: 0.92;
    opacity: 0;
    transition: all 0.1s linear;
    z-index: 0;
  }

  [playlist-current] {
    width: 280px;
    text-align: center;
  }

  search-tools {
    opacity: 0;
    visibility: hidden;
    display: none;
    width: 600px;
  }

  &[active] {
    position: fixed;
    background: $hover-dark;
    top: $main-distance-smol;
    left: calc($header-width + $main-distance-smol);
    align-items: flex-start;
    scale: 1;
    padding: 24px;
    border-radius: 12px;
    cursor: default;
    min-height: $fullscreen-height;
    max-height: $fullscreen-height;
    width: calc(100vw - $header-width - 2 * $main-distance-smol);
    max-width: calc(100vw - $main-distance-smol);
    overflow: auto;

    & > mi {
      display: none;
    }

    input {
      width: 100%;
      top: -18px;
    }

    &:hover {
      scale: 1;
    }

    current-playlist {
      display: none;
    }

    search-tools {
      opacity: 1;
      visibility: visible;
      display: block;
      margin-inline: auto;
    }
  }
}
