@use "../framework/var.utils" as *;
@use "../framework/var.sizes" as *;
@use "../abstract" as *;

bruder {
  @extend .window;
  content: "";
  display: block;
  position: fixed;
  top: $main-distance-smol;
  left: calc($header-width + $main-distance-smol);
  height: 200px;
  width: calc(100vw - $header-width - 2 * $main-distance-smol);
  z-index: 99;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  scale: 0.99;
  transition: $trans-cubic;

  @media screen and (max-width: $laptop-max-width) {
    left: calc($header-width-smol + $main-distance-smol);
    width: calc(100vw - $header-width-smol - 2 * $main-distance-smol);
  }

  & > mi {
    font-size: $font-size-std-plus;
  }

  &:not([active]):hover {
    scale: 1.06;
    background: $slight-light;
  }

  &[active] {
    background: rgba(0, 0, 0, 0.8);
    align-items: flex-start;
    scale: 1;
    padding: 24px;
    border-radius: 24px;
    cursor: default;
    height: $fullscreen-height;
    overflow: auto;
    opacity: 1;
    visibility: visible;
    scale: 1;

    & > mi {
      display: none;
    }

    input {
      width: 100%;
      top: -18px;
    }

    &:hover {
      scale: 1;
    }

    current-playlist {
      display: none;
    }

    search-tools {
      opacity: 1;
      visibility: visible;
      display: block;
      margin-inline: auto;
    }
  }

  [playlist-current] {
    width: 280px;
    text-align: center;
  }

  search-tools {
    opacity: 0;
    visibility: hidden;
    display: none;
    width: 600px;
  }
}
