@use "../framework/var.utils" as *;
@use "../framework/var.sizes" as *;
@use "../abstract" as *;

library {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: $gap-smol;

  &[view="grid"] {
    bookmarks {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: $gap-smoler;

      song {
        margin-block: 4px;
      }

      a {
        position: relative;
        flex-basis: calc(50% - $gap-smolest);
        max-width: calc(50% - $gap-smolest);

        moption {
          display: block;
          padding: 4px;
          border-radius: 16px;

          [playing] {
            position: absolute;
            height: 2em;
            width: 2em;
            right: 12px;
            top: 12px;
            translate: 0 0;
          }

          [metadata] {
            padding-block: 4px;
            padding-inline: 8px;
            line-height: 0.6;

            [title] {
              font-size: $font-size-smol-plus;
            }
          }
        }
      }

      cover {
        width: 100%;
        padding-top: 100%;

        &[single] {
          & > div {
            justify-content: stretch;
            align-items: stretch;

            picture {
              width: 100%;
              padding-top: 100%;

              img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
              }

              mi {
                bottom: -48px;
                left: -22px;
                font-size: 120px;
              }
            }
          }
        }
      }
    }
  }

  &[view="list"] {
    a {
      position: relative;
      max-width: 100%;

      moption {
        padding: 2px;
        padding-right: 16px;
        border-radius: 16px;
        display: flex;
        align-items: center;
        gap: $gap-smol-plus;
        cursor: pointer;

        [metadata] {
          margin-top: -4px;

          [title] {
            font-size: $font-size-std;
            font-weight: 600;
          }
        }
      }
    }
  }

  // The buttons to the change the view.
  library-view {
    [view] {
      &[active] {
        background: $slighter-light;
        color: $tertiary;

        mi {
          font-weight: 800;
        }
      }
    }
  }

  // The actual bookmarks in the library like artists, playlists and albums.
  bookmarks {
    display: flex;
    flex-direction: column;
    gap: $gap-smoler;
    overflow: auto;
    max-height: calc(
      100vh - $main-distance - (4 * $main-distance-smol) - $mbutton-smol-size -
        $gap-smol + 2px
    );

    @media screen and (max-width: $laptop-max-width) {
      max-height: calc(
        100vh - $main-distance - (2 * $main-distance-smol) -
          $mbutton-smol-size - $gap-smol
      );
    }

    a {
      &[active] {
        moption {
          background: $slighter-light;

          [playing] {
            display: flex;
            align-items: center;
            justify-content: center;
          }

          [title] {
            color: $tertiary;
            font-weight: 800;
          }

          mi {
            font-weight: 800;
          }
        }
      }

      moption {
        &:hover {
          background: $slighterer-light;
        }

        &[artist] {
          border-radius: 24px;

          cover {
            & > div {
              border-radius: 23px;
            }

            picture {
              border-radius: 22px;
            }
          }
        }

        [playing] {
          display: none;
          position: absolute;
          height: 2em;
          width: 2em;
          right: 8px;
          top: 50%;
          translate: 0 -50%;
        }

        [title] {
          font-weight: 600;
        }

        [metadata] {
          line-height: 0.6;
        }

        // The cover images, handling single covers for artists and albums multi-
        // covers for playlists like in spotify's library.
        cover {
          $playlist-cover-size: 3em;

          display: block;
          position: relative;
          height: $playlist-cover-size;
          width: $playlist-cover-size;

          & > div {
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border-radius: 13px;
            border: 1px solid $slight-light;
            overflow: hidden;
          }

          &[single] {
            picture {
              background-color: $slighterer-dark;
              border-radius: 12px;

              mi {
                display: block;
                position: absolute;
                bottom: -18px;
                left: -6px;
                height: 100%;
                width: 100%;
                font-size: 42px;
              }
            }
          }

          picture {
            position: relative;
            height: $playlist-cover-size;
            width: $playlist-cover-size;
            min-width: $playlist-cover-size;
            min-height: $playlist-cover-size;
          }

          &[no-custom-art] {
            &:not([no-custom-art="1"]),
            &:not([no-custom-art="2"]),
            &:not([no-custom-art="3"]) {
              picture {
                flex-basis: 50%;
                padding-top: 50%;
                height: initial;
                min-height: initial;
                min-width: initial;

                img {
                  object-fit: cover;
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 100%;
                  width: 100%;
                }
              }
            }

            &[no-custom-art="1"] {
              picture {
                width: $playlist-cover-size;
                flex-basis: 100%;
              }
            }

            &[no-custom-art="2"] {
              picture {
                flex-basis: 50%;
              }
            }

            &[no-custom-art="3"] {
              picture {
                flex-basis: 50%;

                &:nth-of-type(3) {
                  flex-basis: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

library {
  &[editing] {
    library-entry {
      [edit-actions] {
        visibility: visible;
        opacity: 1;
      }
    }

    [data-action="library:reorder"] {
      display: none;
    }

    [reorder-library] {
      display: flex !important;
      background: $hover-green;

      &:hover {
        background: $slight-green;
      }
    }
  }

  [reorder-library] {
    display: none !important;
  }

  library-entry {
    position: relative;

    [edit-actions] {
      position: absolute;
      z-index: 2;
      right: 4px;
      top: 50%;
      translate: 0 -50%;
      visibility: hidden;
      opacity: 0;
      transition: all 0.1s linear;
    }
  }
}
