@use "../framework/var.utils" as *;
@use "../framework/var.sizes" as *;
@use "../abstract" as *;

$lyrics-base-height: 320px;

lyrics-placeholder {
  @extend .window-light;
  display: none;
  height: $lyrics-base-height;

  &[active] {
    display: block;
  }
}

lyrics {
  display: block;
  position: relative;
  height: $lyrics-base-height;
  overflow: hidden;
  transition: $trans-cubic;

  &:not([active]) {
    @extend .window-light;
    border-radius: 24px;
    border-top-right-radius: 32px;
  }

  // fullscreen mode
  &[active] {
    @extend .window;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 102;
    top: $main-distance-smol;
    left: calc($header-width + $main-distance-smol);
    width: calc(100vw - $header-width - 2 * $main-distance-smol);
    height: $fullscreen-height;
    border-radius: 32px 32px 12px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

    [title],
    &:after {
      background: transparent;
    }

    lyrics-content {
      overflow: auto;
      margin-inline: auto;
      max-width: 800px;
      padding-block: calc($fullscreen-height / 2 - 72px);
      padding-inline: 82px;
      gap: 0;
    }

    line {
      cursor: pointer;
      padding: 12px 28px 12px;
      border-radius: 24px;
      border: 1px solid transparent;

      &:hover {
        opacity: 1;
      }

      &[editing] {
        padding-block: 18px 28px;
        margin-block: 6px;
        border-color: $tertiary;
        display: flex;
        flex-direction: column;
        gap: $gap-smol;

        p {
          display: none;
        }

        input {
          display: block;
        }

        mbutton {
          display: flex !important;
        }

        timestamp {
          display: none;
        }
      }

      &[editing],
      &[show-actions] {
        opacity: 1;

        line-actions {
          opacity: 1;
          visibility: visible;
        }
      }

      &[show-actions] {
        border-color: $slight-light;

        timestamp {
          visibility: visible;
          opacity: 1;
        }
      }

      input {
        width: 100%;
      }

      p {
        font-size: $font-size-mid-plus;
      }

      timestamp {
        display: block;
      }
    }
  }

  &::after {
    content: "";
    display: block;
    z-index: 1;
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 18px;
    background: $bg-w-slight;
    background: linear-gradient(
      0deg,
      $bg-w-slight 42%,
      rgba(88, 79, 61, 0) 100%
    );
  }

  [title] {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    padding: 16px 18px 16px 18px;
    width: 100%;
    background: $bg-w-slight;
    background: linear-gradient(
      180deg,
      $bg-w-slight 52%,
      rgba(88, 79, 61, 0) 100%
    );
  }

  lyrics-content {
    display: flex;
    flex-direction: column;
    gap: $gap-smol-plus;
    overflow: hidden;
    min-height: calc(100%);
    max-height: calc(100%);
    padding-block: 72px 20px;
    padding-inline: 18px;
    transition: padding 0s linear;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
  }

  line {
    opacity: 0.6;
    position: relative;
    border-color: transparent;
    transition:
      padding 0s linear,
      opacity 0.1s linear,
      color 0.1s linear,
      border 0.1s linear;

    &[active] {
      opacity: 1;

      p {
        color: $tertiary;
      }
    }

    p {
      font-size: $font-size-std-plus;
      font-weight: 800;
    }

    input {
      display: none;
    }

    mbutton {
      display: none !important;
      position: absolute;
      left: calc(100% + 18px);
      top: 50%;
      translate: 0 -50%;
    }

    timestamp {
      display: none;
      opacity: 0;
      visibility: hidden;
      color: $tertiary;
    }

    line-actions {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 50%;
      right: calc(100% + 24px);
      translate: 0 -50%;
    }
  }
}

edit-lyrics {
  line {
    display: block;
    position: relative;
    padding: 24px;
    border-radius: 24px;

    &[active] {
      mbutton {
        opacity: 1;
        visibility: visible;
      }

      p {
        display: none;
      }

      input:not([type="hidden"]) {
        display: block;
      }
    }

    mbutton {
      position: absolute;
      top: 8px;
      right: 8px;
      background-color: $slight-green;
      opacity: 0;
      visibility: hidden;
    }

    p {
      display: block;
    }

    input {
      display: none;
    }
  }
}
