@use "../framework/var.utils" as *;
@use "../framework/var.sizes" as *;
@use "../framework/classes" as *;
@use "../abstract" as *;

page-divider {
  width: 100%;
  background: $slight-light;
  height: 4px;
  border-radius: 12px;
  display: block;
}

page {
  display: flex;
  flex-direction: column;
  gap: $gap-smol-plus;

  &[album] {
    padding-top: 252px;

    top-banner {
      [art] {
        $topbanner-height: 12em;

        overflow: hidden;
        border-radius: 28px;
        height: $topbanner-height;
        min-height: $topbanner-height;
        width: $topbanner-height;
        min-width: $topbanner-height;
        transition: $trans-cubic;
      }

      [metadata] {
        position: relative;
        flex: 1;
        padding: 2px;
        padding-inline: 24px 8px;
        padding-block: 8px 24px;
        border-radius: 0 24px 24px 0;

        [album-name] {
          transition: none;
          padding-right: 16px;
        }
      }

      &[scrolled="true"] {
        padding: 8px;
        top: 16px;

        [art] {
          $topbanner-height: 4.2em;

          height: $topbanner-height;
          min-height: $topbanner-height;
          width: $topbanner-height;
          min-width: $topbanner-height;

          [top-menu] {
            display: none;
          }
        }

        [metadata] {
          padding-inline: 24px;
          padding-block: 0;
          display: flex;
          justify-content: center;

          & > div:nth-of-type(2) {
            gap: $gap-smoler !important;
          }

          & > div:first-of-type {
            display: none;
          }

          [album-name] {
            font-size: 24px !important;

            @extend [trimt];
          }
        }
      }
    }
  }
}

album {
  display: block;
  position: relative;
  transition: $trans-cubic;
  width: calc(33.33% - 5.1px);

  &:hover {
    z-index: 2;
  }

  &:hover {
    [cover] {
      img {
        height: calc(100% + 6px);
        width: calc(100% + 6px);
        box-shadow: var(--mio-theme-elevation-2);
        border-radius: 18px;
      }
    }

    [top-menu] {
      opacity: 1;
    }
  }

  [cover] {
    position: relative;
    height: auto;
    padding-top: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    border-radius: 18px;

    &:not([has-art]) {
      background-color: $slight-light;
    }

    img {
      border-radius: 16px;
      object-fit: cover;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      transition: $trans-cubic;
    }

    mi {
      position: absolute;
      font-size: 82px;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
    }
  }

  [top-menu] {
    opacity: 0;
    top: 0;
    bottom: initial;
    margin: 6px;
  }

  [metadata] {
    position: absolute;
    bottom: 0;
    z-index: 2;
    padding: 10px 18px;
    width: calc(100% - 2 * 6px);
    color: $light;
    word-break: keep-all;
    transition: $trans-cubic;
    margin: 6px;
    background: $slight-dark;
    backdrop-filter: blur(6px);
    border-radius: 14px;

    [name] {
      font-size: 0.8em;
      font-weight: 700;
      translate: 0 0;
    }

    @keyframes marquee {
      from {
        translate: 0% 0;
      }

      50% {
        translate: -80% 0;
      }

      to {
        translate: 0% 0;
      }
    }
  }
}

[top-menu] {
  position: absolute;
  z-index: 10;
  background: rgba(0, 0, 0, 0.24);
  backdrop-filter: blur(10px);
  margin: 12px;
  border-radius: 14px;
  right: 0;
  top: 0;

  p {
    padding: 10px 12px;
    line-height: 0.8;
    position: relative;

    &::before {
      display: block;
      content: "000";
      position: absolute;
      top: 10px;
      right: 12px;
      opacity: 0.2;
    }
  }
}

preview {
  padding: 0;
  position: relative;
  flex-basis: calc(24%);
  max-width: 24%;
  display: flex;
  flex-direction: column;
  gap: $gap-smol;
  padding: 2px;
  border-radius: 22px 22px 12px 12px;
  cursor: pointer;
  transition: $trans-cubic;

  [check] {
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 2;
    padding-inline: 6px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    opacity: 0;
    color: $green;

    @extend .window;

    mi:before {
      content: "check";
      display: inline;
      font-size: 16px;
    }
  }

  &[active] {
    background: $slight-green;

    [check] {
      opacity: 1;
    }

    &:hover {
      background: $slight-red;
    }
  }

  &:hover {
    background: $slighter-light;

    picture {
      scale: 1.04;
    }
  }

  picture {
    width: 100%;
    padding-top: 100%;
    background: $slighter-light;
    border-radius: 19.2px;
    overflow: hidden;
    transition: $trans-cubic;

    img {
      border-radius: 18px;

      @extend .floating-full;
    }

    mi {
      font-size: 102px;
      color: $tertiary;
      position: absolute;
      bottom: -22px;
      left: -22px;
    }
  }
}
