// ? ++++++++++++++++++++++++++++++++++++++++++++++++
// ? When using $_f… as variable name, it won't work.
// ? ++++++++++++++++++++++++++++++++++++++++++++++++

// * Framework theme colors
$framework_dark: #333;
$framework_light: white;
$framework_bg: #fff3dc;
$framework_text: #734600;
$framework_box: #e9d9b8;
$framework_loader: #a7a5ff;
$framework_overlay: rgb(255, 218, 116, 0.42);
$framework_responder: #f6e9cd;
$framework_responder_text: #6a5d41;
$framework_slight_hover: rgba(0, 0, 0, 0.08);
